In [132]:
import pandas as pd
import numpy as np
tabela = pd.read_csv('teste.csv')
tabela.head()

   oi  tudo  bom
0   1     0    0
1   0     1    0
2   0     1    0
3   0     0    1

In [138]:
sick = pd.DataFrame({'Estado':['A', 'B', 'C', 'D']})
for index, row in sick.iterrows():
    if tabela['oi']:
        row['Estado'] = 'oi'
    if tabela['tudo']:
        row['Estado'] = 'tudo'
    if tabela['bom']:
        row['Estado'] = 'bom'

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [108]:
tabela['oi']==1

0     True
1    False
2    False
3    False
Name: oi, dtype: bool

In [109]:
def retorna_estado(x):
    if x:
        return True
    else:
        return False

In [126]:
sick = pd.DataFrame({'Estado':['A', 'B', 'C', 'D']})
#df = pd.DataFrame([{'c1':10, 'c2':100}, {'c1':11,'c2':110}, {'c1':12,'c2':120}])
#df.head()
for index, row in sick.iterrows():
    row['Estado']='oi'
print(sick)

  Estado
0     oi
1     oi
2     oi
3     oi

In [167]:
a=tabela.replace({'oi': 1}, 'oi')
b=a.replace({'tudo': 1}, 'tudo')
c=b.replace({'bom': 1}, 'bom')
c.head()
#nova=b['oi']+b['tudo']+b['bom']
#nova.head()

   oi  tudo  bom
0  oi     0    0
1   0  tudo    0
2   0  tudo    0
3   0     0  bom

In [ ]:
data = pd.read_csv('Cleaned-Data.csv')
label = data[['Severity_Moderate','Severity_Moderate','Severity_None','Severity_Severe']]
aaah = label.replace(inplace=True)